@import "../../style/animations.scss";
.article-fade-in {
  position: relative;
  animation: fade-in ease-out 0.5s forwards;
  opacity: 0;
  height: 0;
  padding-top: 115%;
  &:hover {
    z-index: 999;
  }
}
.article-highlighted {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  
  .container-text {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    min-height: 90px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: padding-top 0.5s;
    h3 {
      margin: 0;
    }
    p {
      transition: height 0.5s;
      height: 0px;
      overflow: hidden;
      margin: 0;
      margin-top: 0.5rem;
    }
  }
  &:hover {
    box-shadow: 0px 0px 2px #000;
    animation: pulse ease-out 0.5s forwards;
    .container-text {
      padding-top: 1rem;
      h2: {
      }
      p {
        height: 100px;
        margin: unset;
        margin-top: 0.5rem;
      }
    }
  }

  .article-highlighted-link {
    text-decoration: none;
  }

  .image-preview {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
